Repository Sylius/AdyenPlugin, pull requests merged in 2025-10, with the labels that each got.

#141 Update link to docs
  README.md
Labels: Maintenance

#142 [Checkout] Fix a new `cart` payment being created in some cases
  config/services/processors.xml
  src/Controller/Shop/PaymentsAction.php
  src/Processor/Order/OrderPaymentProcessor.php
Labels: Bug, Shop

#143 [Checkout] Fix methods boxes styling conflict
  assets/shop/css/adyen.css
Labels: Frontend, Shop

#150 Adjust README file
  README.md
Labels: Documentation, Maintenance

#156 [DX] Ease changing payment requests data
  src/Client/AdyenClient.php
  src/Client/ClientPayloadFactory.php
  src/Client/ClientPayloadFactoryInterface.php
  tests/Unit/Client/ClientPayloadFactoryTest.php
Labels: DX

#157 [API] Update dropin configuration payment methods example
  config/api_resources/Adyen.xml
Labels: API
